<mat-card class="header-wrapper">
    <div class="header-content">
        <div class="auth-buttons-container">
            <button *ngIf="!isLoggedIn" class="button login-button" mat-raised-button (click)="openLoginDialog()">Login</button>
            <button *ngIf="!isLoggedIn" class="button register-button" mat-raised-button (click)="openRegisterDialog()">Register</button>
            <button *ngIf="isLoggedIn" class="button register-button" mat-raised-button (click)="logout()">Logout</button>
        </div>
    </div>
</mat-card>