<mat-card class="navigation-wrapper">
    <mat-list class="navigation-list">
        <mat-list-item class="navigation-list-item"><a class="navigation-list-item-anchor" routerLink="/dashboard">Dashboard</a></mat-list-item>
        <mat-list-item class="navigation-list-item"><a class="navigation-list-item-anchor" routerLink="/kanban">Kanban board</a></mat-list-item>
        <mat-list-item class="navigation-list-item"><a class="navigation-list-item-anchor" routerLink="/calendar">Calendar</a></mat-list-item>
    </mat-list>
</mat-card>